<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Корпоративный чат-бот</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dialogue.all') }}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dialogue.about') }}">О разработчике</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.logout') }}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.login') }}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.register') }}">Зарегистрироваться</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
