<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Корпоративный чат-бот{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  {% include 'components/header.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include 'components/footer.html' %}
</body>
</html>


