{% extends "layouts/base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="display-4">Главная страница</h2>
    <p>
      Мы создаем чат-боты для компаний, чтобы помочь им в общении с клиентами. Наш чат-бот может помочь вам
      с ответами на <u>часто задаваемые вопросы</u>, а также с решением задач, которые требуют взаимодействия с клиентом.
      Он может работать как в чате, так и через <i>голосовые помощники</i>.
    </p>
    <p>
      Мы используем <i>машинное обучение</i>, чтобы научить нашего чат-бота понимать язык и отвечать на вопросы.
      Это позволяет нам создавать чат-боты, которые могут помочь вам в решении задач, связанных с клиентами.
    </p>
    <p>
      <b>Наш чат-бот</b> может помочь вам:
    </p>
    <ul>
      <li><b>Отвечать</b> на часто задаваемые вопросы</li>
      <li><b>Регистрировать</b> обращения от клиентов</li>
      <li><b>Обрабатывать</b> заявки на выполнение задач</li>
      <li><b>Предоставлять</b> информацию о вашей компании</li>
    </ul>
  </div>
{% endblock %}

