{% extends "layouts/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
  <div class="container">
    <h1>Вход</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", placeholder="Имя пользователя") }}
        {% for error in form.username.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", placeholder="Пароль") }}
        {% for error in form.password.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
    <p class="text-muted">Нет аккаунта? <a href="{{ url_for('user.register') }}">Зарегистрироваться</a></p>
  </div>
{% endblock %}
